/* Search Area CSS */
    .search_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        padding: 50px 0;
        background-image: url("../images/guitar.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #9542c5;
    }

    .search_area input {
        width: 30%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .search_area button {
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        background-color: #371040;
        color: white;
        cursor: pointer;
    }

    .search_area button:hover {
        background-color: #1DB954;
    }
/* Search Area CSS */


/* Search Results CSS */
    .result_playlist_area {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px;
        background-color: #4b2064;
    }

    .search_results {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.5);
        flex: 0.6;
        margin-right: 40px;
        padding: 20px;
        border-radius: 5px;
        min-height: 300px;
        overflow: auto;
    }

    .search_results h2 {
        padding: 0 0 0 10px;
        margin: 10px 0;
        text-align: left;
        color: #fff;
    }

    .search_results hr {
        border: 1px solid #ccc;
        margin: 5px 0px;
        width: 99%; 
    }

    .playlist_area {
        background-color: rgba(255, 255, 255, 0.5);
        flex: 0.4;
        padding: 20px;
        border-radius: 5px;
        min-height: 300px;
        overflow: auto;
    }

    .song_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        width: 99%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: #fff;
    }

    .song_data {
        flex: 0.9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10px;
    }

    .song_data hr {
        border: 1px solid #ccc;
        margin: 5px 0px;
        width: 80%; 
    }

    .song_data h3 {
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }

    .song_button {
        background-color: transparent;
        border: 0.5px solid #686868;
        border-radius: 50%; /* Circular shape */
        color: #3b3b3b;
        font-size: 18px; /* Font size */
        width: 30px; /* Width of the button */
        height: 30px; /* Height of the button */
        cursor: pointer; /* Pointer cursor on hover */
        display: flex; /* Flexbox for centering text */
        align-items: center; /* Center text vertically */
        justify-content: center; /* Center text horizontally */
        padding: 0; /* Remove default padding */
        transition: border-color 0.3s, color 0.2s; /* Smooth transition */
    }
    
    .song_button:hover {
        border-color: #007BFF; /* Change border color on hover */
        color: #007BFF; /* Change text color on hover */
    }

    .song_artist {
        font-size: 0.95rem;
    }
/* Search Results CSS */
