/* Search Area CSS */
    .search_area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        padding: 50px 0;
        background-image: url("../images/guitar.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #9542c5;
    }

    .search_area input {
        width: 30%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .search_area button {
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        background-color: #371040;
        color: white;
        cursor: pointer;
    }

    .search_area button:hover {
        background-color: #1DB954;
    }
/* Search Area CSS */


/* Result & Playlist Area CSS */
    .result_playlist_area {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px;
        background-color: #4b2064;
    }

    .search_results {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.5);
        flex: 0.6;
        margin-right: 40px;
        padding: 20px;
        border-radius: 5px;
        min-height: 300px;
        overflow: none;
    }

    .search_results h2 {
        padding: 0 0 0 10px;
        margin: 10px 0;
        text-align: left;
        color: #fff;
    }

    .search_results hr {
        border: 1px solid #ccc;
        margin: 5px 0px;
        width: 99%; 
    }

    .playlist_area {
        background-color: rgba(255, 255, 255, 0.5);
        flex: 0.4;
        padding: 20px;
        border-radius: 5px;
        min-height: 300px;
        overflow: none;
    }

    .playlist_area .playlist_tracks {
        margin-bottom: 20px;
    }

    .playlist_area input {
        background-color: transparent;
        border: none;
        outline: none;          /* Prevents border on focus */
        box-shadow: none;       /* Prevents shadow on focus in some browsers */
        padding: 0;             /* Optional: removes any default padding */
        margin: 0;              /* Optional: removes any default margin */
        width: 100%;            /* Optional: makes the input take full width of the container */
        color: inherit;         /* Ensures the text color matches the parent container */
        font-size: 1.55rem;
        height: 40px;
        padding-left: 10px;
    }

    .playlist_area .save_button {
        padding: 15px 30px;
        border: 0.1px solid black;
        border-radius: 5px;
        background-color: #1DB954;
        color: white;
        cursor: pointer;
    }

    .playlist_area .save_button:hover {
        background-color: #0f5f2b;
    }

    .song_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        width: 96.5%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: #fff;
    }

    .song_data {
        flex: 0.9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10px;
    }

    .song_data hr {
        border: 1px solid #ccc;
        margin: 5px 0px;
        width: 80%; 
    }

    .song_data h3 {
        font-size: 1rem;
        padding: 0;
        margin: 0;
        font-weight: 700;
    }

    .song_button {
        background-color: transparent;
        border: 0.5px solid #686868;
        border-radius: 50%;         /* Circular shape */
        color: #3b3b3b;
        font-size: 18px;            /* Font size */
        width: 30px;                /* Width of the button */
        height: 30px;               /* Height of the button */
        cursor: pointer;            /* Pointer cursor on hover */
        display: flex;              /* Flexbox for centering text */
        align-items: center;        /* Center text vertically */
        justify-content: center;    /* Center text horizontally */
        padding: 0;                 /* Remove default padding */
        transition: border-color 0.1s, color 0.1s; /* Smooth transition */
    }
    
    .add_button:hover {
        background-color: #77d16f; 
    }

    .remove_button:hover {
        background-color: #d16f6f; 
    }

    .song_details {
        font-size: 0.95rem;
    }

    .song_details span {
        font-style: italic;
    }

    .loading-spinner {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 3px solid rgba(195, 195, 195, 0.6);
        border-radius: 50%;
        border-top-color: #636767;
        animation: spin 1s ease-in-out infinite;
        align-self: center;
    }
    
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
/* Result & Playlist Area CSS */
